/* Chelsea Town 2015 */




body {
  
	color: #292929;  
	font-family: 'Arimo', sans-serif, verdana; 
	font-size: 100%;
	line-height: 150%;
	margin: 0;
	padding: 0;
	text-align: center;
}



a { color: #888888; text-decoration: none; font-weight: bold; cursor: pointer; }
a:active { color: #888888; text-decoration: none; } 
a:link {  color: #888888; text-decoration: none; }
a:visited {  color: #888888; text-decoration: none; }
a:hover {  color: #93c2d3; text-decoration: none; }




h1 { font-size: 300%; font-weight: normal; margin: 0 0 1em 0; color: #93c2d3; line-height: 1; }

h2 { font-size: 110%; font-weight: normal; margin: 0; color: #888888; }



h3 { color: white; font-size: 90%; font-weight: normal; }
.white { color: #ffffff; }



.container_outer {
  	width: 100%;
 	padding: 2em 0 0 0;
}
.container_inner {
  	width: 80%;
 	margin: 0 auto; 
}
.container_inner_header {
  	width:100%;
  	padding: 4em;
  	overflow: hidden;
}
.container_inner_body {
	position: relative;	
	padding: 4em 0 0 0;
	background-repeat: no-repeat;
	margin: 0 auto;
}





/* == top most bar == */
.top_bar { 
	color: #08b4e1;
	width: 100%; 
	min-height: 3em; 	
	position: fixed;
	top: 0px;
    right: 0px;
	text-align: right;
	z-index: 500;
	margin: 0;
	padding: 0;
	font-size: 90%;
  	background: rgb(255, 255, 255);
  	background: rgba(255, 255, 255, 0.8);
}
.top_bar_inner { padding: 0.5em 2em 0 0; }
.top_bar_inner a { font-size: 90%; color: #08b4e1; padding-left: 2em; cursor: pointer; font-weight: normal; }
.top_bar_inner a:hover { color: #93c2d3; }




.header_left { float: left; text-align: left; border: width: 80%; }

.header_right { float: left; margin-top: 2em; position: relative; }

.head_text {
	font-family: 'Leckerli One', cursive;
	font-size: 250%;
	padding-bottom: 0.5em;
}
.head_img2 {
	margin-left: 10em;
}






/* ==  WORK == */
.work_main_container { background-color: #93c2d3; border-bottom: 2px solid #EBEBEB; border-top: 2px solid #EBEBEB;  width: 100%; margin: 0 0 0 0; overflow: hidden; position: relative; }
.work_main_container_inner { overflow: hidden; width: 1000px; margin: 0em auto; }
.work_main_box { 
	max-width: 14em; 
	float: left; 
	margin: 1em 3em 1em 0em;
	padding: 2em 2em;
}
.work_main_box_header {
	width: 13.7em;
	background-color: #ffffff;
	height: 4.4em;
	padding: 0.5em 0;
	margin-bottom: 1.5em;
	letter-spacing: 0.1em;
}
.work_main_box_text {
	color: #ffffff;
	text-align: left;
	max-width: 13.5em;
	min-height: 12em;
}
.work_main_box a { color: #ffffff; text-decoration: underline; }
.work_main_box a:active { color: #ffffff; text-decoration: underline; } 
.work_main_box a:link {  color: #ffffff; text-decoration: underline; }
.work_main_box a:visited {  color: #ffffff; text-decoration: underline; }
.work_main_box a:hover {  color: #888888; }

/* Show Job and Sticky */
.section_content_container {
	width: 100%; 
	margin: 0 auto;
	background-color: #e6f3ff;
	margin: 0 0 4em 0;
	border-top: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
}
.section_content_container_inner {
	width: 1000px; 
	padding: 1em;
	line-height: 1.5;
	font-size: 75%;
	text-align: left;
}
.nav_bar_each_sticky {
	color: #93c2d3;
	}
.nav_bar_each_sticky:hover {
	color: #5ca0b8;
	}

/* Job Popup */
.job_overlay_container { margin-top: 4em; }
.x_close {
	float: right;
	cursor: pointer;
	color: #888888;
	font-weight: bold;
	font-family: 'Arimo', sans-serif, verdana; 
	position: absolute;
	top: 1em;
	right: 1em;
	width: 1.4em;
	height: 1.4em;
	background: #D4D4D4;
	border: 1px solid #D4D4D4;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	padding-top: 0.4em;
	padding-left: 0.65em;
}
#view_job {
	padding: 1em;
	width: 20em;
	display: inline-block; /* shrink wrap */
	text-align: left;
	border: solid 1px grey;
	position: absolute;
    z-index: 2000;
	left: 30%;
	top: 30%;
    display:none;
	background-color: #ffffff;
	border-radius: 7px;
}
.job_overlay_container {
	overflow-x: hidden;
}





/* ==  SKILLS  == */
.skills_main_container { width: 100%; margin: 5em 0 0 0; overflow: hidden; position: relative; }
.skills_main_container_inner { overflow: hidden; display: inline-block; margin: 0 auto; text-align: left; line-height: 2.4; }
.skills_main_box_l { 
	width: 20em; 
	float: left; 
	margin: 0;
	background-color: #ffffff;
	padding: 0em 3em 0 0;
	/* border-right: 1px solid #d4d4d4; */
}
.skills_main_box_r { 
	width: 20em; 
	float: left; 
	margin: 0;
	background-color: #ffffff;
	padding: 0 0 0 3em;
}
.skills_hi_lite {
	padding: 0.5em;
}
.skills_hi_lite:hover { background-color: #e6f3ff; }
.skills_hi_lite span { text-align: right; float: right; color: #93c2d3; padding-left: 1em; }





/* ==  REF == */

.ref_main_container { background-color: #93c2d3; padding: 4em 0; border-bottom: 2px solid #EBEBEB; border-top: 2px solid #EBEBEB;  width: 100%; margin: 6em 0; overflow: hidden; position: relative; }
.ref_main_container_inner { width: 1000px; margin: 2em auto; overflow: hidden; background-color: #ffffff; padding: 3em; border-radius: 7px; }
.ref_main_box { 
	max-width: 1000px; 
	margin: 1em 3em 1em 0em;
	font-size: 90%;
	float: left;
}
.ref_main_box_text {
	text-align: left;
	width: 90%;
}
.ref_quote_l {
	font-size: 500%;
	color: #D4D4D4;
	font-family: 'Kaushan Script', cursive;
	float: left;
}
.ref_quote_r { float:right; }
.ref_name {
	text-align: right;
	float: right; 
	color: #93c2d3;
}
.ref_main_box a { color: #ffffff; text-decoration: underline; }
.ref_main_box a:active { color: #ffffff; text-decoration: underline; } 
.ref_main_box a:link {  color: #ffffff; text-decoration: underline; }
.ref_main_box a:visited {  color: #ffffff; text-decoration: underline; }
.ref_main_box a:hover {  color: #888888; }







/* ==  ABOUT  == */
.about_main_container { background-color: #FFFFFF; width: 100%; margin: 5em 0 0 0; padding-top: 3em; overflow: hidden; position: relative; }
.about_box_left { 
	float: left; 
	margin: 0 0 -7px 0;
	padding: 0 2em 0 0;
	max-width: 50%;
	position: absolute:
	bottom: 0;
	left: 0;
}
.about_img { max-width: 100%; }
.about_box_right { 
	float: left; 
	margin: 0 3em 0 3em;
	padding: 0 0 0 0;
	width: 30%;
}
.about_main_box_header {
	border: 1px solid pink;
	padding: 0;
	margin-bottom: 1.5em;
	letter-spacing: 0.3em;
}
.about_main_box_text {
	text-align: left;
}







/* == FOOTER == */

.footer_main_container { background-color: #292929; width: 100%; margin: 0 0 0 0; overflow: hidden; position: relative; }
.footer_main_container_inner { overflow: hidden; width: 60%; margin: 5em auto; color: #d4d4d4; }
.footer_main_box { 
	width: 30%; 
	float: left; 
	margin: 0;
	padding: 0;
	text-align: left;
	line-height: 2em;
}
.footer_main_box_right { 
	float: right; 
	margin: 0;
	padding: 0;
	width: 30%;
	text-align: left;
}
.footer_main_box_header {
	font-size: 200%;
	padding-bottom: 2em;
}
.footer_main_box_text {
	text-align: left;
	max-width: 13.5em;
	min-height: 12em;
}
a.footer_main_box { color: #93c2d3; text-decoration: none; font-weight: bold; cursor: pointer; }
a.footer_main_box:active { color: #93c2d3; text-decoration: none; } 
a.footer_main_box:link {  color: #93c2d3; text-decoration: none; }
a.footer_main_box:visited {  color: #93c2d3; text-decoration: none; }
a.footer_main_box:hover {  color: #888888; text-decoration: none; }

.footer_bottomline { font-size: 80%; margin: 0em 0 2em 0; }




/* === Scroll To Top Button === */

#scroll_top {
  	background: rgb(13, 13, 13);
  	background: rgba(13, 13, 13, 0.7);
    	position: fixed;
    	bottom: 3em;
    	right: 3em;
    	display: block;
    	-webkit-border-radius: 3em;
    	-moz-border-radius: 3em;
    	border-radius: 3em;
    	display: none;
    	width: 3em;
    	height: 3em;
    	-webkit-transition: all 0.4s linear;
    	-moz-transition: all 0.4s ease;
    	-ms-transition: all 0.4s ease;
    	-o-transition: all 0.4s ease;
    	transition: all 0.4s ease;
}
#scroll_top:hover { background: rgba(0, 0, 0, 0.9); }
#scroll_top b {
    	margin: 0;
    	font-size: 47px;
    	position: relative;
    	top: 0.2em;
    	left: 0em;
    	-webkit-transition: all 0.4s ease;
    	-moz-transition: all 0.4s ease;
    	-ms-transition: all 0.4s ease;
   	 -o-transition: all 0.4s ease;
   	 transition: all 0.4s ease;
}
#scroll_top:hover b { color: #ffffff; top: 0.1em; }
.scroll_top_arrow { font-family: 'Cinzel', sans-serif; font-size: 300%; color: #D4D4D4;  }




/* == RWD == */
@media (max-width: 500px) {
	.container_inner_header { padding: 3em 0 0 0; margin-top: 3em; }
	.top_bar_inner { padding: 0.5em 1em 0 0; }
	.work_main_container_inner { width: 100%; }
	.work_main_box { float: none; max-width: 100%; 	margin: 1em 0.5em 1em 0em; padding: 0.5em 0.5em;  }
	.section_content_container_inner { max-width: 90%; }
	.section_content_container { margin: 0 0 0.5em 0; }
	.head_img2 { width: 70%; height: 70%; margin-left: 1em; }
	.skills_main_box_r { padding: 0 0 0 1em; }
	.skills_main_box_l { padding: 0 0 0 1em; }
	.ref_main_container_inner { width: 90%; padding: 2em 0.3em; }
	.ref_main_box { max-width: 90%; margin: 0.2em 0.5em 0.2em 0em; }
	.ref_name { float: none; padding-right: 0.5em; }
	.about_img { max-width: 90%; }
	.about_box_right { float: none; margin: 0 0.5em 2.5em 0.5em; width: 100%; }
	.about_box_left { margin: 0; padding: 0 0 0.5em 0; max-width: 100%; }
	.footer_main_box { width: 100%; margin-bottom: 2.5em; } 
	.footer_main_box_right { float: none; width: 100%; }
	.footer_main_box_text { min-height: 4em; }
}
@media (max-width: 250px) {
	.container_inner_header {  padding: 3em 0 0 0; margin-top: 3em;  }
	.top_bar_inner { padding: 0.5em 1em 0 0; }
	.work_main_container_inner { width: 100%; }
	.work_main_box { float: none; max-width: 100%; 	margin: 1em 0.5em 1em 0em; padding: 0.5em 0.5em;  }
	.section_content_container_inner { max-width: 90%; }
	.section_content_container { margin: 0 0 0.5em 0; }
	.head_img2 { width: 40%; height: 40%; margin-left: 1em; }
	.skills_main_box_r { padding: 0 0 0 0.5em; }
	.skills_main_box_l { padding: 0 0 0 0.5em; }
	.ref_main_container_inner { width: 90%;  padding: 2em 0.3em; }
	.ref_main_box { max-width: 90%; margin: 0.2em 0.5em 0.2em 0em; }
	.ref_name { float: none; padding-right: 0.5em; }
	.about_img { max-width: 90%; }
	.about_box_right { float: none; margin: 0 0.5em 2.5em 0.5em; width: 100%; }
	.about_box_left { margin: 0; padding: 0 0 0.5em 0; max-width: 100%; }
	.footer_main_box { width: 100%; margin-bottom: 2.5em; } 
	.footer_main_box_right { float: none; width: 100%; }
	.footer_main_box_text { min-height: 4em; }
}




	
	
