body { /* dynamic top padding */ }

$black-brown: #292929;
$light-brown: #4c4b4b;
$white: #ffffff;
$red: #d81111;


.head_text {
	font-family: 'Leckerli One', cursive;
}
.ct_nav {
	float: right;
}
.ct_section_white {
	background-color: $white;
}
.ct_section_red {
	background-color: $red;
}
.ct_section_brown {
	background-color: $black-brown;
	color: $light-brown;
}

/* Nav appear */
.ct_topNav {
  visibility: hidden;
}
.ct_nav {

}
.ct_nav:hover { }

/* Footer */
.ct_footer {
	margin: 0 auto;
}