body { /* dynamic top padding */ }

$black-brown: #292929;
$light-brown: #4c4b4b;
$white: #ffffff;
$red: #d81111;
$center: 0 auto;


.head_text {
	font-family: 'Leckerli One', cursive;
}
.ct_nav {
	float: right;
}
.ct_section_white {
	background-color: $white;
}
.ct_section_red {
	background-color: $red;
}
.ct_section_brown {
	background-color: $black-brown;
	color: $light-brown;
}

/* Nav appear */
.ct_topNav {
  visibility: hidden;
}
.ct_nav {

}
.ct_nav:hover { }

/* Footer */
.ct_footer {
	margin: $center;
	padding: 3em;

}

/* Scroll Top Arrow */


@mixin transition($num) {
	-webkit-transition: all 0.4s ease;
	-moz-transition: $num;
	-ms-transition: $num;
	-o-transition: $num;
	transition: $num;
}

.box { }

#scroll_top {
  	background: rgb(13, 13, 13);
  	background: rgba(13, 13, 13, 0.7);
    	position: fixed;
    	bottom: 3em;
    	right: 3em;
    	display: block;
    	-webkit-border-radius: 3em;
    	-moz-border-radius: 3em;
    	border-radius: 3em;
    	display: none;
    	width: 3em;
    	height: 3em;
    	 @include transition(all 0.4s ease);
}
#scroll_top:hover { background: rgba(0, 0, 0, 0.9); }
#scroll_top b {
    	margin: 0;
    	font-size: 47px;
    	position: relative;
    	top: 0.2em;
    	left: 0em;
    	 @include transition(all 0.4s ease);
}
#scroll_top:hover b { color: #ffffff; top: 0.1em; }
.scroll_top_arrow { font-family: 'Cinzel', sans-serif; font-size: 300%; color: #D4D4D4;  }