body { 

  }

$black-brown: #292929;
$light-brown: #4c4b4b;
$white: #ffffff;
$red: #d81111;


.head_text {
	font-family: 'Leckerli One', cursive;
}
.ct_nav {
	float: right;
}
.ct_section_white {
	background-color: $white;
}
.ct_section_red {
	background-color: $red;
}
.ct_section_brown {
	background-color: $black-brown;
	color: $light-brown;
}