/* Chelsea Town 2015 */

body, html {
	height: 100%;
	margin: 0;
	padding: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #4d4d4d;
	font-size: 95%;
	background-image: url('../images/plaid.jpg');
	background-repeat: repeat;
}
h1 { 
	font-size: 200%;
	padding: 0;
	margin: 0;
	color: #f4f4f4;
}
h2 {
	font-size: 130%;
	color: #888888;
	padding: 0;
	margin: 0 0 1em 0;
	font-weight: normal;
}
#photoCont {
	border: 1em solid #ffffff;
	padding: 1em;
	width: 70%;
	background-color: #464a46;
	display: inline-block;
}
.photos_each li {
	float: left;
	padding: 1em;
	list-style-type: none;
	cursor: pointer;
	margin-right: -8%;
}
#overlay {
	position: absolute;
	top: 0;
	background-color: #ffffff;
	background-color: rgba(255,255,255,0.7);
	cursor: pointer;			
}
#lgImage {
	display: block;
	position: absolute;
	max-width: 90%;
	max-height: 90%;
	background: #464a46;
}
#nextLeftCont {
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	width: 30%;
}
#nextLeft {
	display: none;
	height: 40px;
	width: 50px;
    border-radius: 25px;
    -moz-border-radius: 20px;
    background-color: #888888;
    font-size: 36px;
    text-align: center;
    position: fixed;
    bottom: 50%;
    left: 10%;
    padding-bottom: 10px;
}
#nextRightCont {
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	width: 30%;
}
#nextRight {
	display: none;
	height: 40px;
	width: 50px;
    border-radius: 25px;
    -moz-border-radius: 20px;
    background-color: #888888;
    font-size: 36px;
    text-align: center;
    position: fixed;
    bottom: 50%;
    right: 10%;
    padding-bottom: 10px;
}
#bottomTitle {

	position: fixed;
	bottom: 0;
	left: 50%;
}



/* Show Photos */
#photolist img {
	width: 100%;
	float: left;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#showphoto {
	background: rgba(0,0,0,0.7);
}

#showphoto .ui-content {
	width: 100%;
	padding: 0;
}

#showphoto img {
	width: 100%;
	padding: 0;
}
.title_big {
	color: #ffffff;
	padding: 1em;
}

/* Photos */
#photo {
	margin: 0 auto;
}
.col_a { 
	float: left;
	width: 15%;
	margin: 1%;
}
.col_b { 
	float: left;
	width: 15%;
	margin: 1%;
}
.col_c { 
	float: left;
	width: 15%;
	margin: 1%;
}
.col_d { 
	float: left;
	width: 15%;
	margin: 1%;
}
.col_e { 
	float: left;
	width: 15%;
	margin: 1%;
}

/* == RWD == */
@media (max-width: 500px) {
	.photos_each li { margin-right: 5%; }
	#photolist img {
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		padding: 1em;
	}
}
@media (max-width: 250px) {
	.photos_each li { margin-right: 5%; }
	#photolist img {
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		padding: 1em;
	}
}
